@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    background: url('/img/404-2.jpg');
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

span {
    font-size: 14px;
}

.color {
    background-color: thistle;
}

.text-center {
    max-width: 70%;
    margin: 10px auto;
}

.img-res {
    max-width: 40%;
    margin: 10px 40px;
    border-radius: 50%;
    padding: auto;
    height: 100px;
    border: 1px solid #ece9e9;
    box-shadow: 5px 8px 2px -3px #ece9e9;
}
.col-lg-4 {
    max-width: 100%;
}

.sec-2 h5 {
    color: #13344ecc ;
    font-weight: 500;
}

.doct{
    box-shadow: 5px 6px 0px -3px #ece9e9;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}


.lst li {
    list-style: none;
    padding-bottom: 10px;
}

.lst .fa {
    font-size: 18px;
    background-color:#ece9e9 ;
    padding-top:  0.5rem!important;
    text-align: center !important;
    height: 2rem;
    width: 2rem !important;
    font-weight: bolder;
    border-radius: 50%;
    color:#13344ecc ;
}